body {
  font-family: "Courier New", Courier, monospace;
  border-left: 2px solid;
}
.questions {
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
  justify-items: center;
  margin: 50px;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.question {
  height: 300px;
  width: 340px;
  background: rgb(233, 233, 245);
  box-shadow: 10px;
  border: 1px solid;
}
input {
  height: 30px;
  width: 30px;
}
.assertions {
  position: relative;
  left: 15%;
  font-size: 20px;
}
label {
  font-size: larger;
}
h1,
#q1 {
  text-align: center;
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
}
#stat-section {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
